In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt

In [2]:
file=pd.read_csv("ge.us.txt",sep=",")

In [3]:
file.head()

         Date    Open    High     Low   Close   Volume  OpenInt
0  1962-01-02  0.6277  0.6362  0.6201  0.6201  2575579        0
1  1962-01-03  0.6201  0.6201  0.6122  0.6201  1764749        0
2  1962-01-04  0.6201  0.6201  0.6037  0.6122  2194010        0
3  1962-01-05  0.6122  0.6122  0.5798  0.5957  3255244        0
4  1962-01-08  0.5957  0.5957  0.5716  0.5957  3696430        0

In [4]:
Close=file['Close']

In [13]:
x_train=np.zeros((9996,4))
y_train=np.zeros((9996,1))
for i in range(4,10000):
    x_train[i-4]=[Close[i-1],Close[i-2],Close[i-3],Close[i-4]]
    y_train[i-4]=Close[i]

In [6]:
x=tf.placeholder(tf.float32,[None,4])
y=tf.placeholder(tf.float32,[None,1])

In [7]:
layer1=tf.contrib.layers.fully_connected(x,100,tf.nn.relu)
layer2=tf.contrib.layers.fully_connected(layer1,250,tf.nn.relu)
layer3=tf.contrib.layers.fully_connected(layer2,325,tf.nn.relu)
layer4=tf.contrib.layers.fully_connected(layer3,412,tf.nn.relu)
layer5=tf.contrib.layers.fully_connected(layer4,1)

In [8]:
cost=tf.reduce_mean(tf.squared_difference(layer5,y))

In [9]:
optimizer=tf.train.AdamOptimizer(learning_rate=0.01).minimize(cost)

In [10]:
sess=tf.Session()

In [11]:
sess.run(tf.global_variables_initializer())

In [12]:
arr=np.zeros(1001)
for i in range(51):
    _,loss=sess.run([optimizer,cost],{x:x_train,y:y_train})
    arr[i]=loss
    if i%20==0:
        print (loss)

87.5195
1.02516
0.257725

In [ ]:
plt.plot(arr)

In [ ]:
plt.show()

In [ ]:
y_predict=(sess.run(layer5,{x:x_predict }))

In [ ]:
x_predict=np.zeros((4054,4))
y_test=np.zeros((4054,1))
for i in range(4,4058):
    x_predict[i-4]=[Close[i-1],Close[i-2],Close[i-3],Close[i-4]]
    y_test[i-4]=Close[i]

In [ ]:
for i in range(len(y_predict)):
    print (y_predict[i],y_test[i])

In [ ]:
sess.close()